---
import Layout from "../layouts/Layout.astro";
import meb from "../../public/tshirtw.png";
import { Image } from "astro:assets";
import linkedin from "../assets/linkedin.svg";
import "../styles/switch.css";
import "../styles/global.css";
import CardProject from "@/components/CardProject.astro";
import Skills from "@/components/Skills";
import { projects } from "@/libs/utils";
---

<Layout title='Portafolio Camilo'>
  <section
    class='lg:h-96 w-full flex flex-col bg-gradient-to-r from-blue-500 to-purple-600 shadow-xl'
    title='Presentacion'>
    <div
      class='text-white flex flex-col lg:flex-row gap-10 justify-center items-center pt-5 pb-5'>
      <div class='w-full lg:w-1/2 text-center lg:text-left'>
        <h1 class='text-4xl lg:text-6xl font-bold mt-10'>
          Hola, soy Camilo Henriquez
        </h1>
        <p class='text-xl lg:text-3xl font-normal mx-4 md:mx-0 mt-10'>
          Desarrollador Full Stack apasionado por crear soluciones creativas y
          sobre todo innovadoras.
        </p>
      </div>

      <Image
        src={meb}
        alt='foto'
        width={300}
        height={300}
        class='rounded-full'
        style='box-shadow: 10px 20px 25px rgba(255, 255, 255, 0.3);'
      />
    </div>
    <div
      class='w-full flex flex-col lg:flex-row justify-center gap-3 items-center text-white mt-5 pb-3 lg:mt-0'>
      <a
        href='https://github.com/hnkatze'
        title='Visita mi perfil de GitHub'
        class='flex flex-row justify-center items-center gap-2 lg:mb-0'>
        <svg
          class='w-8 h-8'
          viewBox='0 0 512 512'
          fill='currentColor'
          xmlns='http://www.w3.org/2000/svg'
          version='1.1'
          width='512px'
          height='512px'
          style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd'
          xmlns:xlink='http://www.w3.org/1999/xlink'>
          <g>
            <path
              style='opacity:0.985'
              fill='currentColor'
              d='M 511.5,239.5 C 511.5,254.5 511.5,269.5 511.5,284.5C 501.712,368.067 462.045,433.233 392.5,480C 375.96,489.937 358.626,498.27 340.5,505C 332.538,508.098 325.704,506.598 320,500.5C 319.667,499.167 319.333,497.833 319,496.5C 318.945,465.803 318.278,435.136 317,404.5C 314.745,393.198 309.578,383.532 301.5,375.5C 386.523,365.627 425.023,317.96 417,232.5C 414.092,213.02 406.092,196.02 393,181.5C 395.13,171.162 396.63,160.662 397.5,150C 396.942,137.045 394.276,124.545 389.5,112.5C 380.987,111.166 372.653,111.999 364.5,115C 348.649,121.258 333.649,129.092 319.5,138.5C 276.833,126.5 234.167,126.5 191.5,138.5C 178.232,129.698 164.232,122.198 149.5,116C 140.423,112.415 131.09,111.248 121.5,112.5C 116.859,124.233 114.192,136.399 113.5,149C 114.241,160.014 115.741,170.847 118,181.5C 101.046,200.681 92.5461,223.181 92.5,249C 91.8045,278.57 99.3045,305.737 115,330.5C 132.176,351.18 154.009,364.347 180.5,370C 190.178,371.835 199.845,373.668 209.5,375.5C 200.217,385.316 194.55,396.983 192.5,410.5C 175.315,417.772 157.982,418.272 140.5,412C 134.129,408.635 128.629,404.135 124,398.5C 119.333,391.833 114.667,385.167 110,378.5C 101.35,369.175 90.6832,363.842 78,362.5C 65.3442,363.322 64.1776,367.489 74.5,375C 86.1029,381.936 94.9362,391.436 101,403.5C 111.325,435.484 133.325,451.817 167,452.5C 175.507,451.583 184.007,450.583 192.5,449.5C 192.667,465.17 192.5,480.837 192,496.5C 188.976,505.311 182.809,508.478 173.5,506C 94.2419,477.075 40.4086,422.909 12,343.5C 6.2084,324.034 2.04173,304.367 -0.5,284.5C -0.5,269.5 -0.5,254.5 -0.5,239.5C 10.224,149.84 54.224,82.0066 131.5,36C 200.175,0.151196 271.175,-5.18214 344.5,20C 409.529,45.589 457.363,89.7557 488,152.5C 500.7,180.31 508.534,209.31 511.5,239.5 Z'
            ></path>
          </g>
        </svg>
        <p class='text-xl font-bold hover:underline'>/hnkatze</p>
      </a>
      <a
        href='https://www.linkedin.com/in/hnkatze/'
        title='Visita mi perfil de LinkedIn'
        class='flex flex-row justify-center items-center gap-2'>
        <Image
          src={linkedin}
          alt='linkedin'
          width={30}
          height={30}
          class='w-8 h-8'
        />
        <p class='text-xl font-bold hover:underline'>/camilo-henriquez</p>
      </a>
      <a
        href='https://discord.com/users/hnkatze'
        title='Visita mi perfil de Discord'
        class='flex flex-row justify-center items-center gap-2 text-white'>
        <svg
          class='w-8 h-8'
          xmlns='http://www.w3.org/2000/svg'
          fill='currentColor'
          viewBox='0 0 512 512'>
          <g>
            <path
              d='M 511.5,310.5 C 511.5,330.167 511.5,349.833 511.5,369.5C 510.795,375.045 509.961,380.712 509,386.5C 470.043,415.396 427.209,437.063 380.5,451.5C 378.851,450.352 377.351,449.019 376,447.5C 367.039,434.526 358.872,421.026 351.5,407C 352.047,406.075 352.713,405.242 353.5,404.5C 367.015,399.409 380.015,393.242 392.5,386C 393.451,385.282 393.617,384.449 393,383.5C 390.305,381.306 387.472,379.306 384.5,377.5C 298.515,416.165 212.515,416.165 126.5,377.5C 123.528,379.306 120.695,381.306 118,383.5C 117.383,384.449 117.549,385.282 118.5,386C 131.236,393.536 144.569,399.702 158.5,404.5C 157.192,410.126 155.025,415.459 152,420.5C 145.807,431.568 138.64,441.902 130.5,451.5C 83.7907,437.063 40.9574,415.396 2,386.5C 0.989351,381.064 0.156017,375.73 -0.5,370.5C -0.5,350.5 -0.5,330.5 -0.5,310.5C 5.8552,230.765 31.8552,158.099 77.5,92.5C 111.077,77.0215 146.077,66.0215 182.5,59.5C 183.478,59.9767 184.311,60.6433 185,61.5C 189.277,70.3897 193.777,79.0564 198.5,87.5C 236.492,80.9636 274.492,80.9636 312.5,87.5C 317.223,79.0564 321.723,70.3897 326,61.5C 326.689,60.6433 327.522,59.9767 328.5,59.5C 364.923,66.0215 399.923,77.0215 433.5,92.5C 479.134,158.065 505.134,230.731 511.5,310.5 Z'>
            </path>

            <circle cx='167.5' cy='223.5' r='50' fill='#7b7f78'></circle>
            <circle cx='338.5' cy='223.5' r='50' fill='#7b7f78'></circle>
          </g>
        </svg>

        <p class='text-xl font-bold hover:underline'>Katze#9714</p>
      </a>
    </div>
  </section>
  <Skills client:only />
  <section
    title='Proyectos'
    class='w-full flex flex-col items-center justify-center py-8'>
    <h2 class='text-4xl font-bold text-center text-gray-800 my-10'>
      Proyectos Destacados
    </h2>
    <div
      class='w-11/12 gap-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 justify-items-center'>
      {
        projects.map((items) => (
          <CardProject
            title={items.title}
            description={items.description}
            images={items.images}
            technologies={items.technologies}
            projectUrl={items.projectUrl}
            repoUrl={items.repoUrl}
          />
        ))
      }
    </div>
  </section>
</Layout>
